:root {
    --border-box-color:  rgb(182, 0, 0);
    
}

.game {
  max-width: 500px;
  margin: 0 auto;
}

.body {
  display: flex;
}

.help {
  color: rgb(0, 0, 0);
  padding: 15px;
  margin: 10px;
  text-align: center;
  font-size: large;
}

.againBtn {
  text-align: center;
  padding: 15px ;
  background-color: rgb(2, 58, 131);
  color: white;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.againBtn:hover {
  background-color: rgb(0, 175, 23);
  padding: 16px ;
}

.left {
  text-align: center;
  width: 50%;
  border: thin solid var(--border-box-color);
  background-color: rgb(0, 0, 0);
  color: white;
}

.right {
  text-align: center;
  padding: 10px;
  width: 50%;
  border: thin solid  var(--border-box-color);
}

.timer {
  color: #666;
  margin-top: 3px;
  margin-left: 3px;
}

.gameOver .message {
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
}

.number {
    background-color: #eee;
    border: thin solid #ddd;
    width: 45px;
    height: 45px;
    margin: 10px;
    font-size: 25px;
  }
  
  .number:focus,
  .number:active {
    outline: none;
    border: thin solid #ddd;
  }

  .star {
    display: inline-block;
    margin: 0 15px;
  }
  
  .star:after {
    content: "\2605";
    font-size: 45px;
  }