:root {
    --border-box-color:  rgb(182, 0, 0);
    
}

.game {
  max-width: 500px;
  margin: 0 auto;
}

.body {
  display: flex;
}

.help {
  color: rgb(0, 0, 0);
  padding: 15px;
  margin: 10px;
  text-align: center;
  font-size: large;
}

.left {
  text-align: center;
  width: 50%;
  border: thin solid var(--border-box-color);
  background-color: rgb(4, 131, 0);
  color: white;
}

.right {
  text-align: center;
  padding: 10px;
  width: 50%;
  border: thin solid  var(--border-box-color);
}

.timer {
  color: #666;
  margin-top: 3px;
  margin-left: 3px;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
}
